<div class="modalScreen">
  <div class="completeOrderModal panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Complete Order</h3>
    </div>
    <div class="panel-body">
	  {{input type='checkbox' checked=emailReceipt}}Email receipt: {{input disabled=disabledEmail value=completeOrderEmail}}<br/>
      <br/>
	  {{input type='checkbox' checked=printReceipt}}Print receipt
	  <br/>
	  {{input type='checkbox' disabled=disabledPrinting checked=printExtraReciept}} Extra copy
	  <br/>
	  {{input type='checkbox' disabled=disabledPrinting checked=printCoupon}}Print coupon&nbsp;{{view "select" disabled=disabledPrinting content=couponSelections value=couponSelection prompt='Choose coupon...' classNames="form-control"}}
	  <br/><br/>
	  <button {{action 'closeModal'}}>Submit</button>&nbsp;<button {{action 'closeModal'}}>Cancel</button><br/>
    </div>
  </div>
</div>
